<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>OOPS!!</title>
</head>

<body>
    <h1>Website Under Maintainence</h1>

    <p>We will be back soon!!</p>

    {{> footer}}
</body>

</html>